<!-- 
                    <div ng-controller="loginController">
                            <form action="/" id="myLogin">
                            Username: <input type="text" id="username" ng-model="username">
                            <br>
                            Password: <input type="password" id="password" ng-model="password">
                            <button type="button" ng-click="submit()">Login</button>
                            </form>
                        </div> -->
                        <div class="container font-awesome" ng-controller="loginController">
                          <h2>Login Here!</h2>
                          <div class="row">
                             <div class="col-md-6">
                                <div class="panel panel-default">
                                   <div class="panel-heading">
                                      <h3 class="panel-title">Login</h3>
                                   </div>
                                   <div class="panel-body">
                                      <div class="input-group">
                                         <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i>
                                         </span>
                                         <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" ng-model="username">
                                      </div>
                                      <div class="input-group">
                                         <span class="input-group-addon" id="basic-addon2"><i class="fa fa-key" aria-hidden="true"></i>
                                         </span>
                                         <input type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon2" ng-model="password">
                                      </div>
                                      <button type="button" ng-click="submit()">Login</button>
                                   </div>
                                </div>
                             </div>
                          </div>
                          </div>